.device_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.device {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: #999;
    border: 5px solid #444;
}

.indicator {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #f00;
    background: radial-gradient(circle at 66% 60%, white 0, #f00, #100 100%);
    box-shadow: 0px 0px 12px 5px rgba(255, 0, 0, 0.3);
    margin: 0 auto;
}

.indicator[data-enabled="true"] {
    background-color: #0f0;
    background: radial-gradient(circle at 66% 60%, white 0, #0f0, #100 100%);
    box-shadow: 0px 0px 12px 5px rgba(0, 255, 0, 0.3);
}

button {
    border: 2px solid #444;
    margin: 4px;
    border-radius: 5px;
    outline-color: #999;
}

button:hover {
    cursor: pointer;
}